#header {
  padding: 20px;
  background: #ccc;
  }
#sidebar {
  float: left;
  width: 200px;
  padding: 10px;
  text-align: justify;
  }
#content {
  margin-left: 220px;
  background: #eee;
  padding: 20px;
  }
#footer {
  padding: 20px;
  background: #eee;
  }
body {
  text-decoration: none;
  font-family: Verdana,Tahoma,Arial,Geogia,Songti,Sans-serif;
}
li{
  padding: 4px;
}